@tailwind base;
@tailwind components;
@tailwind utilities;
/* @components .btn-red{
    @apply w-10 px-3 py-1 rounded-md bg-primary-red text-[#fff] cursor-pointer hover:bg-[rgb(122,18,20)] transition-all duration-200 ease-in;
} */
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow:   0 0 50px rgba(0,0,0,0.5); 
    border-radius: 10px;
    background:transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B9090B; 
    border-radius: 2px;
  }
.row{
    scrollbar-width:none;
    -ms-overflow-style: none;
}
.row::-webkit-scrollbar{
    width:0;
    height:0;
}
html,body{
    overflow-x: hidden!important;
}
body{
    overflow-y:hidden;
}
footer p{
    cursor:pointer;
}
.genres__list li::before {
     
        content: "\2022";  
        color: rgb(71, 70, 70); 
        font-weight: bold; 
        display: inline-block; 
        width: 0.85rem;
        margin-left: -1em;    
}
.movie__details{
    display:none;
}

.movie__poster:hover .movie__poster--image{
   display:none;
}
.movie__poster:hover .movie__details{
    display:block;
    transition:  all 0.3s ease-in;
    opacity:1 !important;
}