@tailwind base;
@tailwind components;
@tailwind utilities;

/* style componets */
@layer components{
    .btn-red{
        @apply  px-3 py-1 rounded-md bg-primary-red text-[#fff] cursor-pointer hover:bg-[rgb(122,18,20)] transition-all duration-200 ease-in;
    }
    .btn-back{
        @apply flex space-x-2  bg-[rgba(0,0,0,0)] text-smoke-white font-medium active:outline-none items-center;
    }
    .btn-done{
        @apply px-2 py-3 text-smoke-white hover:bg-smoke-white max-w-[150px] cursor-pointer hover:border-smoke-white font-medium text-base hover:text-mid-gray border border-solid border-mid-gray transition-all duration-200;
    }
}
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow:   0 0 50px rgba(0,0,0,0.5); 
    border-radius: 10px;
    background:transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B9090B; 
    border-radius: 2px;
  }
.row{
    scrollbar-width:none;
    -ms-overflow-style: none;
}
.row::-webkit-scrollbar{
    width:0;
    height:0;
}
html,body{
    overflow-x: hidden!important;
}
body{
    overflow-y:hidden;
}
footer p{
    cursor:pointer;
}
.genres__list li::before {
     
        content: "\2022";  
        color: rgb(71, 70, 70); 
        font-weight: bold; 
        display: inline-block; 
        width: 0.85rem;
        margin-left: -1em;    
}
.movie__details{
    display:none;
}

.movie__poster:hover .movie__poster--image{
   display:none;
}
.movie__poster:hover .movie__details{
    display:block;
    transition:  all 0.3s ease-in;
    opacity:1 !important;
}